<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Description</title>
</head>
<body>
<h1>Добавить задачу</h1>

<form method="POST" action="">
    {% csrf_token %}
    <p>
        <label>Описание:</label>
        <input type="text" name="description" required>
    </p>
    <p>
        <label>Статус:</label>
        <select name="status">
            {% for status in status_choices %}
                <option value="{{ status.0 }}">{{ status.1 }}
                </option>
            {% endfor %}
        </select>
    </p>

    <p>
        <label>Дата выполнения:</label>
        <input type="date" name="due_date">
    </p>

    <input type="submit" value="Создать">
</form>

</body>
</html>